<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sudeep.example.myapplication">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity android:name=".AnimationExample">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".IntentDataTransferExampleSecond" />
        <activity android:name=".IntentDataTransferExample"/>
        <activity android:name=".OptionMenuImageExample" />
        <activity android:name=".OptionMenuExample" />
        <activity android:name=".ActionBarExample" />
        <activity android:name=".ContextMenuExample" />
        <activity android:name=".ListViewExample" />
        <activity android:name=".PopupMenuExample" />
        <activity android:name=".CustomAlertDialogExample" />
        <activity
            android:name=".AlertDialogExample"
            android:label="@string/title_activity_alert_dialog_example" />
        <activity android:name=".CameraPictureExample" />
        <activity android:name=".PermissionExample" />
        <activity android:name=".IncreaseAndDecrease" />
        <activity android:name=".DynamicViewExample" />
        <activity android:name=".AppChoserExample" />
        <activity android:name=".ImplicitIntentExample" />
        <activity android:name=".ImagePickerExample" />
        <activity android:name=".GridViewBasicExample" />
        <activity android:name=".GridLayoutExample" />
        <activity android:name=".ExplicitIntentExSecond" />
        <activity android:name=".ExplicitIntentExFirst" />
        <activity android:name=".ExplicitIntentDataTransferSecond" />
        <activity android:name=".ExplicitIntentDataTransferFirst" />
        <activity android:name=".ImageView" />
        <activity android:name=".ImageButton" />
        <activity android:name=".SnackbarExample" />
        <activity android:name=".TableLayout" />
        <activity android:name=".SpinnerExample" />
        <activity android:name=".SimpleCalculator" />
        <activity android:name=".RadioButtonExample" />
        <activity android:name=".EditTextExample" />
        <activity android:name=".CheckBoxExample" />
        <activity android:name=".AndroidLifeCycle" />
        <activity android:name=".MainActivity" />
    </application>
</manifest>